.list {
    width: 600px;
    border: 1px solid gray;
    margin: 10px;
    background-color: white;
    border-radius: 10px;

    .todo_number {
        margin-right: 10px;
        font-size: 22px;
    }
    
    ul {
        display: flex;
        list-style: none;
    
        li {
            border: 1px solid gray;
            width: 400px;
            height: 25px;
            color: white;
            background-color: #1c1c1c;
            padding-left: 5px;
            border-radius: 5px;
            cursor: pointer;
    
            &:hover {
                -webkit-box-shadow: 0 0 10px rgb(0, 255, 0);
                box-shadow: 0 0 10px rgb(0, 255, 0);
            }
        }
    
        button {
            margin-left: 10px;
            width: 80px;
            height: 25px;
            background-color: rgb(175, 0, 0);
            color: white;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            outline: none;
        }
    
    }

     
}
